.btn-primary{background-color: blue;
border-width: 4px;
font-color:white;}
.btn-primary:hover{background-color: orange;}
form{font-family: georgia;
font-weight: 700}
.btn-primary{font-family:georgia; }